.container {
	width: 1000px;
	padding: 10px;	
}

.col {
	/*border: 1px solid white;*/
	min-height: 400px;
}

.cornerimage {
	/*border: 1px solid lightgray;*/
	min-height: 190px;
	background-image: url("kuvat/JD_soft2.jpg");
	background-color: white;
	background-size: cover;
}

a {
	color: black;
}
.description { 
	min-height: 40px;
	padding: 20px;	
}

.header { 
	min-height: 150px;
	padding: 20px;
	background-image: url("kuvat/13.jpg");
	background-color: white;
	background-size: cover;
}

.footer { 
	min-height: 40px;
	text-align: center;
	font: 14px verdana;
	padding: 10px;
}
.galleryrow { min-height: 200px;}

h1 {
	font: 46px verdana;
	color: white;
	text-shadow: 2px 2px dimgray;
}

p {
	font: 14px verdana;
}

h3 {
	font: 18px verdana;
}

nav {	
	width: 100%;
	font: 14px verdana;
}

.nav-item.active { font-weight: bold; }

body {
	font-family: Verdana, sans-serif;
	background-color: black;
	color: white;
}

.mySlides {display: none;}
img {vertical-align: middle; }

.slideshow-container {
	max-width: 700px;
	position: relative;
	margin: auto;
}

/* Kuvateksti */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Numerot kuvan päälle */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Pisteet kuvan alapuolelle */
.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dot.active {
	background-color: #343a40;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.0s;
	animation-name: fade;
	animation-duration: 2.0s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

input[type=text], select, textarea {
	width: 80%;
	padding: 6px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;  
}

input[type=email] {
	width: 80%;
	padding: 6px 10px;  
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}


input[type=submit] {
	width: 80%;
	background-color: #343a40;
	color: white;
	padding: 6px 10px;  
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: dimgray;
}

label {
	font: 14px verdana;
}

legend {
	font: 16px verdana;
	padding: 10px;	
}

fieldset {
    border: 0;
}

#shadow {
	width: 120px;
	height: 160px;
	box-shadow: 5px 10px;
	background-color: orange;
	padding: 10px;
	font: 12px verdana;
}

.contact {
	padding: 20px;
}

div.gallery {
	margin: 5px;
	border: 1px solid dimgray;
	  float: left;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #343a40;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
}

/* Kapeampia näyttöjä varten muutoksia */
@media only screen and (max-width: 1200px) {
	.text {font-size: 11px}
	/*.container {
		width: 900px;
	}*/
	.slideshow-container {
		max-width: 700px;
		position: relative;
		margin: auto;
	}
}